@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: none;
  display: inline-block;
  -webkit-tap-highlight-color: transparent;
}
li {
  list-style: none;
  float: left;
}
i {
  display: inline-block;
}
span {
  display: inline-block;
}
.box {
  height: 1.33333333rem;
}
.swiper-container {
  height: 8.4rem;
  width: 100%;
  position: relative;
  background: #F8F6F7;
}
.swiper-container img {
  width: 100%;
}
.swiper-container .swiper-pagination-bullet {
  background: #333;
  width: 0.13333333rem;
  height: 0.13333333rem;
  margin-bottom: 0.2rem !important;
  margin-left: 0.2rem !important;
}
.swiper-container .swiper-pagination-bullet-active {
  background: #FDDB48;
}
.swiper-container .cover {
  position: absolute;
  width: 100%;
  height: 1.33333333rem;
  background: url(../img/drawable-xhdpi/swipercover.png) no-repeat;
  background-size: 100% 100%;
  bottom: -0.13333333rem;
  right: 0px;
  z-index: 99;
}
.topmenu {
  position: fixed;
  width: 100%;
  height: 0.93333333rem;
  top: 0px;
  z-index: 99;
  display: flex;
  justify-content: center;
}
.topmenu div {
  width: 94%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.topmenu .back {
  width: 0.24rem;
  height: 0.4rem;
  background: url(../img/drawable-xhdpi/back.png) no-repeat;
  background-size: contain;
}
.topmenu .cart {
  width: 0.42666667rem;
  height: 0.42666667rem;
  background: url(../img/drawable-xhdpi/cart2.png) no-repeat;
  background-size: contain;
}
.descrip {
  height: 5.86666667rem;
}
.descrip h2 {
  font-size: 0.53333333rem;
  font-weight: 100;
  color: #333;
  text-align: center;
  margin-top: 0.4rem;
}
.descrip p {
  font-size: 0.34666667rem;
  color: #666;
  margin-top: 0.2rem;
  text-align: center;
}
.descrip .price {
  display: flex;
  font-size: 0.26666667rem;
  align-items: flex-end;
  justify-content: center;
  color: #333;
  margin-top: 0.53333333rem;
}
.descrip .price big {
  font-size: 0.66666667rem;
  color: #FD663B;
  line-height: 0.66666667rem;
}
.descrip .price small {
  font-size: 0.26666667rem;
  color: #999;
  margin-left: 0.2rem;
  text-decoration: line-through;
}
.descrip .tips {
  width: 95%;
  height: 0.8rem;
  font-size: 0.24rem;
  line-height: 0.8rem;
  color: #666;
  margin: 0px auto;
  margin-top: 0.26666667rem;
  border-bottom: 1px solid #b4b4b4;
}
.descrip .tips span {
  color: #FD734E;
}
.descrip ul {
  width: 80%;
  height: 0.86666667rem;
  display: flex;
  margin-left: 3%;
}
.descrip ul li {
  width: 33%;
  height: 100%;
  display: flex;
  align-items: center;
}
.descrip ul li img {
  width: 0.4rem;
  height: 0.4rem;
}
.descrip ul li span {
  font-size: 0.34666667rem;
  text-indent: 0.1rem;
}
.descrip .size {
  display: flex;
  height: 0.93333333rem;
}
.descrip .size h3 {
  font-size: 0.37333333rem;
  color: #666;
  width: 1.33333333rem;
  height: 0.66666667rem;
  line-height: 0.66666667rem;
  margin-left: 3%;
  font-weight: 100;
}
.descrip .size span {
  font-size: 0.26666667rem;
  width: 1.33333333rem;
  height: 0.66666667rem;
  line-height: 0.66666667rem;
  text-align: center;
  border: 2px solid #FFB90C;
  color: #666;
  border-radius: 0.26666667rem;
}
.userEvaluationContain {
  width: 100%;
  height: 7.4rem;
  display: flex;
  align-items: center;
  background: #f2f2f2;
}
.userEvaluation {
  width: 100%;
  height: 6.93333333rem;
  background: #fff;
}
.userEvaluation .title {
  width: 100%;
  height: 0.86666667rem;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #999;
}
.userEvaluation .title div {
  width: 95%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.userEvaluation .title div span {
  font-size: 0.32rem;
}
.userEvaluation .title div p {
  font-size: 0.32rem;
}
.userEvaluation .title div p span {
  color: #FD805E;
}
.userEvaluation ul {
  height: 4.66666667rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
}
.userEvaluation ul li {
  width: 95%;
  height: 2.13333333rem;
}
.userEvaluation ul li a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.userEvaluation ul li div {
  height: 1.2rem;
  width: 100%;
  display: flex;
  align-items: center;
}
.userEvaluation ul li div img {
  width: 0.8rem;
  height: 0.8rem;
}
.userEvaluation ul li div .name {
  height: 0.8rem;
  width: 88%;
  display: flex;
  margin-left: 0.26666667rem;
  flex-direction: column;
  align-items: flex-start;
}
.userEvaluation ul li div .name div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.userEvaluation ul li div .name div span {
  font-size: 0.32rem;
  color: #666;
}
.userEvaluation ul li div .name div p i {
  width: 0.30666667rem;
  height: 0.30666667rem;
  background: url(../img/drawable-xhdpi/xingxing.png) no-repeat;
  background-size: contain;
}
.userEvaluation ul li div .name span {
  font-size: 0.21333333rem;
  color: #666;
}
.userEvaluation ul li p {
  font-size: 0.26666667rem;
  color: #333;
}
.userEvaluation ul li:first-child {
  border-bottom: 1px solid #999;
}
.userEvaluation .more {
  position: relative;
  display: block;
  width: 1.6rem;
  margin: 0px auto;
  font-size: 0.29333333rem;
  color: #444;
  text-align: center;
}
.userEvaluation .more::after {
  content: "";
  position: absolute;
  width: 1.6rem;
  height: 0.22666667rem;
  right: 0px;
  top: 0.46666667rem;
  background: url(../img/drawable-xhdpi/more_bg.png) no-repeat;
  background-size: contain;
}
.footmenu {
  width: 100%;
  height: 1.33333333rem;
  position: fixed;
  bottom: -0.02666667rem;
  background: #fff;
  display: flex;
  z-index: 99;
}
.footmenu div {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.footmenu div .num {
  width: 2.46666667rem;
  height: 0.53333333rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 0.02666667rem solid #FBD42A;
  border-radius: 0.26666667rem;
}
.footmenu div .num #reduce {
  width: 0.64rem;
  height: 100%;
  font-size: 0.53333333rem;
  line-height: 0.46666667rem;
  color: #FBD42A;
  text-align: center;
}
.footmenu div .num #add {
  width: 0.64rem;
  height: 100%;
  font-size: 0.53333333rem;
  line-height: 0.46666667rem;
  text-align: center;
  color: #FBD42A;
}
.footmenu div .num #number {
  width: 1.2rem;
  height: 100%;
  text-align: center;
  font-size: 0.37333333rem;
  position: relative;
}
.footmenu div .num #number:after {
  content: '';
  position: absolute;
  width: 2px;
  height: 100%;
  background: #FBD42A;
  right: 0px;
}
.footmenu div .num #number:before {
  content: '';
  position: absolute;
  width: 2px;
  height: 100%;
  background: #FBD42A;
  left: 0px;
}
.footmenu div a {
  width: 0.53333333rem;
  height: 0.50666667rem;
  background: url(../img/drawable-xhdpi/kefu.png) no-repeat;
  background-size: contain;
}
.footmenu div .shoucang {
  width: 0.56rem;
  height: 0.49333333rem;
  background: url(../img/drawable-xhdpi/love.png) no-repeat;
  background-size: contain;
}
.footmenu .joinCart {
  width: 25%;
  height: 100%;
  background: #FBD42A;
  color: #444;
  font-size: 0.37333333rem;
  text-align: center;
  line-height: 1.33333333rem;
}
.footmenu .buyNow {
  width: 25%;
  height: 100%;
  background: #444;
  color: #FBD42A;
  font-size: 0.37333333rem;
  text-align: center;
  line-height: 1.33333333rem;
}
.buyerRecommend {
  width: 100%;
  background: #F0E8DD;
}
.buyerRecommend .card1 {
  width: 100%;
  height: 6.66666667rem;
  overflow: hidden;
  background: #fff;
}
.buyerRecommend .card1 .title {
  width: 3.2rem;
  font-size: 0.29333333rem;
  text-align: center;
  margin: 0px auto;
  margin-top: 0.66666667rem;
  margin-bottom: 0.66666667rem;
  position: relative;
}
.buyerRecommend .card1 .title div {
  height: 0.93333333rem;
}
.buyerRecommend .card1 .title h1 {
  font-weight: 100;
  font-size: 0.46666667rem;
}
.buyerRecommend .card1 .title p {
  font-size: 0.21333333rem;
}
.buyerRecommend .card1 .title:before {
  content: "[";
  position: absolute;
  left: 0px;
  font-size: 0.6rem;
  color: #FBD42A;
}
.buyerRecommend .card1 .title:after {
  content: "]";
  position: absolute;
  right: 0px;
  top: 0px;
  font-size: 0.6rem;
  color: #FBD42A;
}
.buyerRecommend .card1 .word {
  width: 80%;
  margin: 0px auto;
  font-size: 0.29333333rem;
  padding: 0.53333333rem 0.4rem 0.53333333rem 0.4rem;
  background: url(../img/drawable-xhdpi/borderimg.png) no-repeat;
  background-size: 100% 100%;
  background-origin: border-box;
}
.buyerRecommend .card2 {
  width: 100%;
  height: 6.66666667rem;
  background: #FFB90C;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.buyerRecommend .card2 .title {
  text-align: center;
}
.buyerRecommend .card2 h1 {
  font-size: 0.6rem;
}
.buyerRecommend .card2 h2 {
  font-size: 0.56rem;
}
.buyerRecommend .card2 h3 {
  font-size: 0.26666667rem;
  font-weight: 100;
}
.buyerRecommend .card2 .img {
  height: 3.46666667rem;
  display: flex;
  align-items: flex-end;
}
.buyerRecommend .card2 img {
  width: 3.68rem;
  height: 3.04rem;
}
.buyerRecommend .card3 {
  height: 7.86666667rem;
  width: 100%;
  display: flex;
  background: #F0E8DD;
  position: relative;
  color: #3D4C15;
}
.buyerRecommend .card3 .cardside {
  width: 100%;
  height: 0.53333333rem;
  position: absolute;
  background: url(../img/drawable-xhdpi/cardside.png) no-repeat;
  background-size: 100% 100%;
}
.buyerRecommend .card3 .image {
  height: 100%;
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buyerRecommend .card3 .image img {
  width: 3.86666667rem;
  height: 2.97333333rem;
}
.buyerRecommend .card3 .word {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.buyerRecommend .card3 .word h1 {
  font-size: 0.46666667rem;
  font-weight: 100;
}
.buyerRecommend .card3 .word h2 {
  font-size: 0.4rem;
  font-weight: 100;
}
.buyerRecommend .card3 .word p {
  font-size: 0.26666667rem;
  margin-top: 0.53333333rem;
}
.buyerRecommend .card4 {
  width: 100%;
  height: 9.46666667rem;
  text-align: center;
  color: #3D4C15;
  background: #F0E8DD;
}
.buyerRecommend .card4 h1 {
  font-size: 0.26666667rem;
}
.buyerRecommend .card4 h2 {
  font-size: 0.56rem;
  font-weight: 100;
}
.buyerRecommend .card4 p {
  width: 80%;
  margin: 0px auto;
  font-size: 0.26666667rem;
}
.buyerRecommend .card4 .image {
  width: 100%;
  height: 5.06666667rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buyerRecommend .card4 .image img {
  height: 3.66666667rem;
  width: 7.6rem;
}
.buyerRecommend #card5 {
  width: 100%;
  height: 32.93333333rem;
}
.buyerRecommend #card5 .image1 {
  width: 100%;
  height: 8.53333333rem;
  display: flex;
  justify-content: center;
}
.buyerRecommend #card5 .image1 img {
  width: 9.30666667rem;
  hieght: 8rem;
}
.buyerRecommend #card5 .image2 {
  width: 100%;
  height: 6.66666667rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.buyerRecommend #card5 .image2 .img1 {
  width: 5.54666667rem;
  height: 5.54666667rem;
}
.buyerRecommend #card5 .image2 .img2 {
  width: 1.6rem;
  height: 3.93333333rem;
}
.buyerRecommend #card5 .image2 .img5 {
  width: 5.8rem;
  height: 5.37333333rem;
}
.buyerRecommend #card5 .image2 .img6 {
  width: 1.6rem;
  height: 4.73333333rem;
}
.buyerRecommend #card5 .image3 {
  width: 100%;
  height: 6.66666667rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.buyerRecommend #card5 .image3 .img3 {
  width: 1.6rem;
  height: 4.72rem;
  margin-right: 0.2rem;
}
.buyerRecommend #card5 .image3 .img4 {
  width: 6.72rem;
  height: 5.62666667rem;
}
.everyBodyBuy {
  width: 100%;
  height: 11.6rem;
}
.everyBodyBuy .title {
  width: 100%;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.everyBodyBuy .title div {
  width: 3.6rem;
  font-size: 0.29333333rem;
  text-align: center;
  position: relative;
}
.everyBodyBuy .title div h1 {
  font-weight: 100;
  font-size: 0.46666667rem;
}
.everyBodyBuy .title div p {
  font-size: 0.21333333rem;
}
.everyBodyBuy .title div:before {
  content: "[";
  position: absolute;
  left: 0px;
  font-size: 0.6rem;
  color: #FBD42A;
}
.everyBodyBuy .title div:after {
  content: "]";
  position: absolute;
  right: 0px;
  top: 0px;
  font-size: 0.6rem;
  color: #FBD42A;
}
.everyBodyBuy ul {
  width: 100%;
  height: 8rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.everyBodyBuy ul li {
  width: 9.33333333rem;
  height: 3.86666667rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.everyBodyBuy ul li .image {
  width: 4.13333333rem;
  height: 100%;
}
.everyBodyBuy ul li .image a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.everyBodyBuy ul li .image a img {
  width: 2.8rem;
}
.everyBodyBuy ul li .word {
  width: 5.06666667rem;
  height: 2.93333333rem;
}
.everyBodyBuy ul li .word .detail {
  width: 100%;
}
.everyBodyBuy ul li .word .detail h3 {
  font-size: 0.37333333rem;
  font-weight: 100;
  color: #333;
}
.everyBodyBuy ul li .word .detail p {
  font-size: 0.29333333rem;
  color: #666;
  margin-top: 0.06666667rem;
}
.everyBodyBuy ul li .word .detail .price {
  display: flex;
  font-size: 0.24rem;
  align-items: flex-end;
  color: #333;
  margin-top: 0.13333333rem;
}
.everyBodyBuy ul li .word .detail .price big {
  font-size: 0.50666667rem;
  color: #FD663B;
  line-height: 0.53333333rem;
}
.everyBodyBuy ul li .word .detail .price small {
  font-size: 0.24rem;
  color: #999;
  margin-left: 0.2rem;
  text-decoration: line-through;
}
.everyBodyBuy ul li .word .cart {
  font-size: 0.32rem;
  width: 2.66666667rem;
  height: 0.53333333rem;
  margin-top: 0.06666667rem;
  background: #FBD42A;
  border-radius: 0.26666667rem;
  color: #333;
  display: flex;
  align-items: center;
}
.everyBodyBuy ul li .word .cart i {
  width: 0.8rem;
  height: 0.37333333rem;
  background: url(../img/drawable-xhdpi/gouwuche.png) no-repeat center;
  background-size: contain;
}
.everyBodyBuy ul li:first-child,
.everyBodyBuy ul li:nth-child(2),
.everyBodyBuy ul li:nth-child(3) {
  border-bottom: 1px solid rgba(180, 180, 180, 0.9);
}
.everyBodyBuy .more {
  position: relative;
  display: block;
  width: 1.6rem;
  margin: 0px auto;
  font-size: 0.29333333rem;
  color: #444;
  text-align: center;
}
.everyBodyBuy .more::after {
  content: "";
  position: absolute;
  width: 1.6rem;
  height: 0.22666667rem;
  right: 0px;
  top: 0.53333333rem;
  background: url(../img/drawable-xhdpi/more_bg.png) no-repeat;
  background-size: contain;
}
