@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: none;
  display: inline-block;
  -webkit-tap-highlight-color: transparent;
}
li {
  list-style: none;
  float: left;
}
i {
  display: inline-block;
}
span {
  display: inline-block;
}
html,
body {
  position: relative;
  height: 100%;
}
.jump {
  height: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.jump a {
  font-size: 0.33333333rem;
  color: #333;
  margin-right: 0.2rem;
}
.jump span {
  width: 2.4rem;
  height: 0.66666667rem;
  line-height: 0.66666667rem;
  text-align: center;
  font-size: 0.33333333rem;
  background: #FD663B;
  color: #fff;
  border-radius: 0.66666667rem;
  margin-left: 38%;
}
.swiper-container {
  width: 100%;
  height: 95%;
}
.swiper-container .swiper-wrapper .swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.swiper-container .swiper-wrapper .swiper-slide .image {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-container .swiper-wrapper .swiper-slide .image .img1 {
  width: 7.41333333rem;
  height: 6.78666667rem;
}
.swiper-container .swiper-wrapper .swiper-slide .image .img2 {
  width: 7.04rem;
  height: 3.13333333rem;
}
.swiper-container .swiper-wrapper .swiper-slide .image .img3 {
  width: 5.84rem;
  height: 5.25333333rem;
}
.swiper-container .swiper-wrapper .swiper-slide .word {
  height: 50%;
}
.swiper-container .swiper-wrapper .swiper-slide .word h1 {
  font-size: 0.66666667rem;
  font-weight: 100;
  text-align: center;
  color: #FD6F48;
}
.swiper-container .swiper-wrapper .swiper-slide .word h2 {
  font-size: 0.4rem;
  font-weight: 100;
  text-align: center;
  color: #333;
}
.swiper-container .swiper-pagination {
  bottom: 0.53333333rem !important;
}
.swiper-container .swiper-pagination .swiper-pagination-bullet {
  width: 0.66666667rem;
  height: 0.26666667rem;
  margin-left: 0.4rem !important;
  border-radius: 0.26666667rem;
}
.swiper-container .swiper-pagination .swiper-pagination-bullet-active {
  background: #FD663B;
}
